img {
  width: 250px;
  float: right;
  margin-top: 70px;
}

.jumbotron .container h1 {
  text-align: center;
}

.jumbotron .container h2 {
  text-align: center;
  font-size: medium;
}

.box {
  width: 250px;
  border: 3px solid orange;
  float:left;
  margin-top: 70px;
}

.column {
  width: 250px;
  border: 3px solid red;
  margin-top: 270px;
}

.highlight {
  color: red;
}